@mixin estilos($margin, $padding, $radius){
    margin: $margin;
    padding: $padding;
    border-radius: $radius;
}

@mixin flex($direccion){
    display: flex;
    flex-direction: $direccion;
}

@mixin justify($justify){
    display: flex;
    justify-content: space-between;
}