main{
    .seccion__productos{
        margin-top: 20%;
        margin-bottom: 5%;
        @include media-up(xxxl){
            margin-top: 10%;
            margin-bottom: 10%;
        }
        .titulo{
            margin-left: 2rem;
            @include media-up(xxxl){
                font-size: 4rem;
            }
        }
        .categoria{
            font-size: 2rem;
            text-align: center;
        }
        .productos{
            /*---- responsive ----*/
            @include media-up(md){
                @include justify(center);
                flex-wrap: wrap;
                padding: 0 2rem;
            }
            @include media-up(lg){
                padding: 0 3rem;
            }
            &__card{
                width: 70%;
                @include flex(column);
                @include estilos(15px auto, 10px, 10px);
                box-shadow: map-get($sombras, sombra-2 );
                /*---- responsive ----*/
                @include media-up(md){
                    max-width: 45%;
                    margin: 1rem;
                    flex: 45%;
                }
                @include media-up(xl){
                    max-width: 20%;
                }
                &--img{
                border-radius: 10px 10px 0 0;
                }
                &--encabezado{
                    @include justify(space-between);
                    font-size: 1.5rem;
                    padding: 10px 10px 0 10px;
                    .productos_card--precio{
                        font-weight: 600;
                    }
                }
                &--pie{
                    padding: 0 10px 10px 10px;
                    .productos__card--descr{
                        .productos__card--desc-intro{
                            font-weight: 600;
                        }
                    }
                    .producto__card--btn{
                        width: 45%;
                        border-radius: 5%;
                        background: map-get($fondos, fondo-2 );
                        @include media-up(xl){
                            width: 70%;
                        }
                        @include media-up(xxxl){
                            width: 60%;
                        }
                        @include media-up(max-2000){
                            width: 50%;
                        }
                    }
                }
            }
        }     

    }
}