/* menor igual 576px*/
@media only screen and (max-width: 576px){
    main{
        .productos{
            max-width: 400px;
            margin: 80px;
            
            .productos__card{
                max-width: 100%;
                .producto__card--img{
                    max-width: 100%;

                }
                .productos__card--encabezado{

                    .productos__contenedor{
                        width: 100%;
                        gap: 10px;
                        .productos__contenedor--titulo{
    
                        }
                        .productos__contenedor--categoria{
                            
                        }
                    }
                    .productos_card--precio{
    
                    }
                }
                .productos__card--pie{
                    
                    .productos__card--descr{
    
                    }
                    .producto__card--btn{
                        width: 45%;
                    }
                }
            }
        }
    }
}
/* menor igual 768px*/
@media only screen and (max-width: 768px){
    .header{
        &__nav{
            &--container{
                &-logo{
                    width: 20%;
                    height: 20%;
                }
            }
        }
    }
}

/* mayor igual 992px*/
@media only screen and (max-width: 992px){
    .header{
        &__nav{
            &--container{
                &-logo{
                    width: 15%;
                    height: 15%;
                }
            }
        }
    }
}

/* menor igual 1200px*/
@media only screen and (max-width: 1200px){
    .header{
        &__nav{
            &--container{
                &-logo{
                    width: 12%;
                    height: 12%;
                }
            }
        }
    }
}

/* menor igual 1400px*/
@media only screen and (max-width: 1400px){
    .header{
        &__nav{
            &--container{
                &-logo{
                    width: 12%;
                    height: 12%;
                }
            }
        }
    }
}

@media (min-width: 1440px) and (max-width: 2000px){

}




// @include media-breakpoint-up(sm) {


// }

// /* mayor igual 768px*/
// @include media-breakpoint-up(md) {}

// /* mayor igual 992px*/
// @include media-breakpoint-up(lg) {}

// /* mayor igual 1200px*/
// @include media-breakpoint-up(xl) {}

// /* mayor igual 1400px*/
// @include media-breakpoint-up(xxl) {}

// @media (min-width: 1440px) and (max-width: 2000px){}