
/* menor igual 768px*/
@media only screen and (min-width: 768px){
    .header{
        &__nav{
            &--container{
                &-logo{
                    width: 15%;
                    height: 15%;
                }
            }
        }
    }
    main{
    .seccion__productos{
        .productos{
                display: flex;
                padding: 0 2rem;
                flex-wrap: wrap;
                &__card{
                    width: 30%;
                    margin: 1rem;
                    flex: 1 1 45%;
                    &--pie{
                        .producto__card--btn{
                            width: 50%;
                        }
                    }
                }
            }
        }
    }

}

/* mayor igual 992px*/
@media only screen and (max-width: 992px){

}

/* mayor igual 1200px*/
@media only screen and (min-width: 1200px){
    .header{
        &__nav{
            &--container{
                &-logo{
                    width: 12%;
                    height: 12%;
                }
            }
        }
    }
    main{
        margin-top: 15%;
        .seccion__productos{

            .categoria{
                font-size: 2.5rem;
            }
            .productos{
                    padding: 0 5rem;            
                    &__card{
                        width: 19%;
                        margin: 1rem;
                        flex: 1 1 19%;
                    }
            }
        }    
    }
}

/* mayor igual 1400px*/
@media only screen and (min-width: 1400px){
    .header{
        &__nav{
            &--container{
                &-logo{
                    width: 10%;
                    height: 10%;
                }
            }
        }
    }
    main{
    .seccion__productos{
            .productos{
                padding: 0 2rem;
                
                &__card{
                    width: 10%;
                    margin: 2rem;
                    flex: 1 1 20%;
                }
            }
        }
      }
}

@media (min-width: 1440px) and (max-width: 2000px){
    .header{
        &__nav{
            &--container{
                &-logo{
                    width: 5%;
                    height: 5%;
                }
                &-menu{
                    font-size: 2rem;
                }
            }
        }
    }
    main{
        margin-top: 10%;
        .seccion__productos{
            .titulo{
                font-size: 3rem;
            }
            .categoria{
                font-size: 3.5rem;
            }
            .productos{
                padding: 0 10rem;
            }
        }
    }
}


